// Project variables
// Note: Prefer using framework variables

$blue: #1a608b;
$blackbrown: #292929;
$red: #bf0000;
//
//$text-color: #333;

$primary-color: $blackbrown;
$sub-color: $red;

$font: 'Open Sans', serif;
//$sub-font: $font;

// Project mixins

// Custom fonts
:root {
  --content-size: 80rem;
}
